body {
  font-family: Arial, sans-serif;
  background: #0081cc;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background: #004aac;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 1.5em;
}
    
main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
    
iframe {
  height: 200px;
  width: 100%;
}
    
section {
  background: #bd7f21;
  padding: 2px 20px 20px 20px;
  margin: 20px 0 20px 0;
  border-radius: 12px;
  text-align: justify;
}

section h2 {
  text-align: center;
}

#cuadro {
  background: #bd7f21;
  border-radius: 12px 12px 12px 12px;
  position: relative;
}

#cuadro::after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 20px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #bd7f21;
  border-bottom: 0;
  border-left: 0;
}

#cuadro h2 {
  color: #b4b4b4;
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
  margin-bottom: 0;
}

#button_ejemplos {
  background-color: rgb(176 224 230);
  margin-left: 30%;
  border-radius: 8px;
  width: 130px;
  border-style: none;
}

#definiciones {
  margin-top: 0;
  padding: 0 10px 10px 10px;
}

#ir {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-top: 40px;
  padding: 10px;
  border-radius: 12px;
  background: #c7a7a7;
  color: rgb(0, 0, 0);
}

h2 {
  color: white;
  text-align: center;
}

input {
  padding: 8px;
  margin: 5px;
  display: block;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 6px;
}
    
#calcular {
  background: #38b6ff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px 0 0 5px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1em;
}
    
#resultado {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 15px;
}
    
canvas {
  margin-top: 20px;
  background-color: #f0f0f0; 
}

footer {
  background-color: rgb(0 0 139);
  bottom: 0;
  color: white;
  padding: 25px;
}