@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  background: #0081cc;
  margin: 0;
  padding: 0;
  color: #333;
}

#calcular_body {
  font-family: "Montserrat", sans-serif;
  background: rgb(176, 224, 230);
  margin: 0;
  padding: 0;
  color: #333;
}

#titulo {
  color: rgb(95, 158, 160);
}

header {
  background: #004aac;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 1.5em;
}
    
main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
    
iframe {
  height: 200px;
  width: 100%;
}
    
section {
  background: rgb(176, 224, 230);
  padding: 2px 20px 20px 20px;
  margin: 20px 0 20px 0;
  border-radius: 12px;
  text-align: justify;
}

section h2 {
  text-align: center;
  color: rgb(0, 0, 128);
}

#cuadro {
  background: rgb(176, 224, 230);
  border-radius: 12px 12px 12px 12px;
  position: relative;
}

#cuadro::after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 20px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: rgb(176, 224, 230);
  border-bottom: 0;
  border-left: 0;
}

#cuadro h2 {
  color: rgb(30, 144, 255);
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
  margin-bottom: 0;
}

#button_ejemplos {
  background-color: rgb(78, 146, 155);
  border-radius: 8px;
  width: 130px;
  border-style: none;
  font-family: "Montserrat", sans-serif;
  display: block;
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
}

#definiciones {
  margin-top: 0;
  padding: 0 10px 10px 10px;
}

#ir {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  background: rgb(245, 255, 250);
  border-color: rgb(0 0 139);
  border-width: 4px;
  font-family: "Montserrat", sans-serif;
  border-style: solid;
}

#enlace {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

h2 {
  color: white;
  text-align: center;
}

input {
  padding: 8px;
  margin: 5px;
  display: block;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 6px;
}
    
.calcular {
  background: #38b6ff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px 0 0 5px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1em;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
    
#resultado {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 15px;
}
    
canvas {
  margin-top: 20px;
}

footer {
  display: flex;
  background-color: rgb(0 0 139);
  bottom: 0;
  color: white;
  padding: 25px;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: #747272;
}

footer a:hover {
  text-decoration: none;
  color: rgb(228, 12, 12);
}
